#principal{
width: 900px;
height: 1000px;
border: 1px solid #000;
margin: auto;

}

header{
	width:900px;
	height:100px;
	border: 1px solid #000; 
}

#logo{
	width: 200px;
	height: 100px;
	border: 1px solid #000;
	float: left;
}

.menu{
	width: 606px;
	height: 40px;
	border: 1px solid #000;
	float: right;
	margin-top: 40px;
	background-color:#2153C8

}

.menu ul{


}

.menu ul li{
	list-style: : none;
	float: right;
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 18px;
	color: #fff;
	
}

#categorias{
  
  height: 400px;
  border: 1px solid;
  margin-top: 60px;



  }
  .uno{
  	width: 240px;
  	height: 400px;
  	border: 1px solid #000;
  	float: 	left;
  	padding: 5px;
  	text-align: center;


}
.dos